<div class="row">
    <div class="col-1"></div>
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Breakdown of Your Order
            </div>
            <div class="card-body">
                <h5 class="card-title mb-3">Thank you for your order!</h5>
                <div>
                    <button (click)="jumpToSearch()" class="btn btn-primary mb-3">Back to Search</button>
                </div>
                <div class="row">
                    <div class="col-6">

                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                Client's Info
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Name: {{user.username}}</li>
                                <li class="list-group-item">Address: {{user.contact}}</li>
                                <li class="list-group-item">Credit Card: </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6">


                        <div class="row bg-light border rounded p-2">
                            <div class="col-9 fw-bold">Food Name</div>
                            <div class="col-3 fw-bold">Price</div>
                        </div>
                        <div *ngFor="let food of cart" class="row border rounded p-2">
                            <div class="col-9">{{food.foodName}}</div>
                            <div class="col-3">{{food.price|currency}}</div>
                        </div>
                        <div *ngIf="cart.length>0" class="row bg-light border rounded p-2">
                            <div class="col-9 fw-bold">Total</div>
                            <div class="col-3 fw-bold">{{absoluteTotal|currency}}</div>
                        </div>
                        <p *ngIf="cart.length<=0" class="card-text text-center mt-4"> - empty - </p>


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>