<div class="cell card" style="width: 70%;">
    <div class="cell card-header">
        About This Application
    </div>
    <div class="cell card-body mb-1 ">
        <div class="ml-2 mx-2" style="width: 70%;">
            <h3 class="mt-3">The Bootcamp</h3>
            <p>Food Box is the Capstone Project for my Full Stack Java Bootcamp. It is the culmination of many months of learning in the evenings and
                on weekends. The Bootcamp started in December
                2021 and I am delivering this final project at the end of October 2022, so it took almost 11 months to complete.
                <b><span style="display:inline-block">NO START-CODE WAS PROVIDED</span></b>, so it was very hard to develop, but very rewarding!</p>

            <h3 class="mt-5">Future Improvements</h3>
            <p>Currently, the application stores data in MySQL database, but the goal is to migrate to MongoDB, a NO_SQL
                document-based database. Also, it would be a good challenge to migrate it from Amazon AWS to Microsoft Azure.
                Finally, a phone-friendly application is a must. It should not take much effort to modify the CSS files and make
                a mobile version.</p>

            <h3 class="mt-5">The Application</h3>
            <p>Angular is used for the frontend and Springboot + MySql for the backend. It runs in the Amazon AWS cloud, specifically the
                backend runs in the Amazon Beanstalk and the frontend in S3 static storage.</p>
        </div>
        <div>
            <img class="img-responsive" src="assets/images/technologies.png" alt="technologies" width="80%"/>
        </div>
    </div>


</div>
