<div class="row">
    <div class="col-6">


        <div class="card">
            <div class="card-header">
                Shipping
            </div>
            <div class="card-body">
                <h5 class="card-title">Customer's information</h5>
                <p class="card-title mb-4">Update your information if needed.</p>

                <form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">

                    <div class="mb-2">
                        <label class="form-label mb-1" for="id">ID</label>
                        <input class="form-control" formControlName="id" id="id" placeholder="id" type="text" [readOnly]="true">
                    </div>
                    <div class="mb-2">
                        <label class="form-label mb-1" for="name">Name</label>
                        <input class="form-control" formControlName="name" id="name" placeholder="name" type="text" [readOnly]="false">
                    </div>
                    <div class="mb-2">
                        <label class="form-label mb-1" for="contact">Contact</label>
                        <input class="form-control" formControlName="contact" id="contact" placeholder="contact"
                               type="text" [readOnly]="false">
                    </div>
                    <div class="mb-4">
                        <label class="form-label mb-1" for="credit">Credit Card</label>
                        <input class="form-control"
                               formControlName="credit"
                               id="credit"
                               placeholder="No worries, it's on the house!"
                               type="text">
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Place Your Order</button>
                        <img alt="credit card" src="../../assets/images/we_accept.png" width="70%"/>
                    </div>
                </form>
            </div>
        </div>&nbsp;

    </div>
    <div class="col-6">

        <div class="card">
            <div class="card-header">
                Total: {{cartTotal|currency}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Cart Content</h5>
                <p *ngIf="cart.length<=0" class="card-text"> - empty - </p>

            </div>


            <ul *ngFor="let food of cart" class="list-group list-group-flush">
                <li class="list-group-item">{{food.price|currency}} {{food.foodName}}</li>
            </ul>
        </div>
    </div>
</div>