<div class="alert alert-secondary p-1" role="alert" style="margin-bottom: 0px">
    <div class="row">
        <div class="col-4">
            <div class="p-2 container d-flex">
                <table class="align-baseline">
                    <tr class="align-baseline">
                        <td class="">

                            <a href="https://github.com/giannifontanot/sl-capstoneproject-foodbox" target="new">
                                <img class="cell-gray github-image shadow-0" alt="GitHub Repo"
                                     src="assets/images/github.jpg"/>
                            </a>&nbsp;
                        </td>
                        <span>
                    <a href="https://github.com/giannifontanot/sl-capstone-foodbox" target="new">
                        /giannifontanot/sl-capstone-foodbox
                    </a>
                </span>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-4">
            <h1 class='text-center'>
                <span class="badge bg-warning shadow-1">F o o d
                    <span class="badge bg-danger shadow-2">B O X</span></span>
            </h1>

        </div>

        <div class="col-4 align-middle">
            <div class="container d-flex justify-content-end">
                <div class="p-2 align-baseline">
                    <span style="color:#A0A0A0;">Java Full Stack Bootcamp<br/>Gianni Fontanot - Angular</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="getLoginService().loggedIn; else loggedOut">
    <div class="row" style="margin-bottom: 1rem;">
            <span class="badge text-embossed shadow-0" [ngClass]="getUsernameClass()">Welcome {{getUsername()}}
                {{getUsernameProfile()}}</span>

    </div>
    <div class="row" style="min-height: 100vh">
        <div class="col-2 d-flex justify-content-end">
            <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                <a [routerLink]="['/demo']" class='nav-link cell-gray shadow-0' routerLinkActive='active'>
                    <i aria-hidden="true" class="fa fa-search"></i>&nbsp;&nbsp;DEMO</a>
                <a [routerLink]="['/search']" class='nav-link cell-gray shadow-0' routerLinkActive='active'>
                    <i aria-hidden="true" class="fa fa-search"></i>&nbsp;&nbsp;Search</a>
                <a  *ngIf="!getLoginService().admin" [routerLink]="['/cart']" class='nav-link cell-gray shadow-0'
                    routerLinkActive='active'>
                    <i aria-hidden="true" class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Cart</a>
                <a  *ngIf="!getLoginService().admin" [routerLink]="['/checkout']" class='nav-link cell-gray shadow-0'
                    routerLinkActive='active'>
                    <i aria-hidden="true" class="fa fa-credit-card"></i>&nbsp;&nbsp;Checkout</a>
                <a  *ngIf="!getLoginService().admin" [routerLink]="['/ordens']" class='nav-link cell-gray shadow-0'
                    routerLinkActive='active'>
                    <i aria-hidden="true" class="fa fa-edit"></i>&nbsp;&nbsp;Orders</a>
                <a [routerLink]="['/logout']" class='nav-link cell-gray shadow-0' routerLinkActive='active'>
                    <i aria-hidden="true" class="fa fa-sign-in"></i>&nbsp;&nbsp;Logout</a>
            </div>
        </div>

        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<ng-template #loggedOut>
    &nbsp;
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card shadow-0">
                <div class="card-header">
                    Welcome!
                </div>
                <div class="card-body">
                    <h5 class="card-title">Login to FoodBox!</h5>

                    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                        <div class="form-group row">
                            <label class="col-2  col-form-label text-end" for="username">Username</label>
                            <div class="col-5">
                                <input type="text"
                                       class="form-control"
                                       id="username"
                                       placeholder="username"
                                       formControlName="username"
                                       value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label text-end" for="password">Password: </label>
                            <div class="col-5">
                                <input type="password"
                                       class="form-control"
                                       id="password"
                                       placeholder="password"
                                       formControlName="password"
                                       value=""/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 d-flex justify-content-start">
                                <button class="btn btn-primary" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</ng-template>

