
.cell {
    border: 1px solid red;
}

.cell-gray {
    border: 1px solid lightgray;
    background-color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {

}

.github-image {
    border-radius: 25px;
}

.shadow1{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    rgba(0, 0, 0, 0.19);
}

.shadow2{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    rgba(0, 0, 0, 0.19);
}

.shadow4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
    rgba(0, 0, 0, 0.19);
}