<div class="card">
    <div class="card-header">
        Your Cart
    </div>
    <div class="card-body mt-3 mb-4">
        <h5 class="card-title">Following is a detailed list of your orders</h5>
        <p class="card-text">Thank you for shopping with us. Please review your orders and their status. When it is
            ready you can pick it up in the front. Enjoy your meal!</p>
    </div>

    <div class="cell container">
        <div class="cell row">
            <div class="cell col-12">
                <div class="cell row bg-light border rounded p-1">
                    <div class="cell col-1 text-center"></div>
                    <div class="cell col-2 text-center">Dish Name</div>
                    <div class="cell col-2 text-center">&nbsp;</div>
                    <div class="cell col-1 text-center">Cuisine</div>
                    <div class="cell col-4 text-center">Description</div>
                    <div class="cell col-1 text-center">Price</div>
                    <div class="cell col-1 text-center"></div>
                </div>

                <div *ngFor="let food of cart" class="cell row border rounded p-1">
                    <div class="cell col-1 d-flex align-items-center">
                        <button (click)="removeItem(food)"
                                class="cell btn btn-outline-primary btn-sm alert-secondary ">
                            Delete
                        </button>
                    </div>
                    <span hidden>{{food.id}}</span>
                    <div class="cell col-2 d-flex align-items-center">{{food.foodName}}</div>
                    <div class="cell col-2 d-flex align-items-center">
                        <img class="cell  polaroid" [ngClass]="RandomTilt()" src="{{food.imageUrl}}" alt="Dish" width="150px"/>
                    </div>
                    <div class="cell col-1 d-flex align-items-center"><div class="cell text-centered">{{food.cuisine}}</div></div>
                    <div class="cell col-4 d-flex align-items-center">{{food.description}}</div>
                    <div class="cell col-1 d-flex align-items-center"><div class="cell text-centered">{{food.price|currency}}</div></div>
                    <div class="cell col-1 d-flex align-items-center">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
