<div class="row">
    <div class="col-1">

    </div>
    <div class="col-8">
        <div class="card shadow-1">
            <div class="card-header">
                Add a New Dish
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="addFood" class="gapTop1em">
                    <h5 class="card-title gapTop1em">On this screen, you add a new Dish</h5>
                    <div class="cell row">
                        <div class="cell col-7 ">

                            <div class="cell form-group row">
                                <label class="col-3 col-form-label text-end" for="foodName">ID: </label>
                                <div class="col-9">
                                    <input [readOnly]="true" type="number" class="form-control" formControlName="id" id="id" value=""/>
                                </div>
                            </div>

                            <div class="cell form-group row">
                                <label class="col-3 col-form-label text-end" for="foodName">Dish Name: </label>
                                <div class="col-9">
                                    <input type="text" class="form-control" formControlName="foodName" id="foodName" value=""/>
                                    <div *ngIf="addFood.controls['foodName'].invalid && addFood.controls['foodName'].touched">
                                        <div *ngIf="addFood.controls['foodName'].errors!.required"
                                             class="badge shadow-0 bg-danger">
                                            Dish Name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cell form-group row">
                                <label class="col-3 col-form-label text-end" for="cuisine">Cuisine: </label>
                                <div class="col-9">
                                    <select class="form-select" formControlName="cuisine" id="cuisine">
                                        <option>MEXICAN</option>
                                        <option>ITALIAN</option>
                                        <option>CARIBEAN</option>
                                        <option>ASIAN</option>
                                        <option>AFRICAN</option>
                                    </select>
                                    <div *ngIf="addFood.controls['cuisine'].invalid && addFood.controls['cuisine'].touched">
                                        <div *ngIf="addFood.controls['cuisine'].errors!.required"
                                             class="badge shadow-0 bg-danger">
                                            Cuisine is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cell form-group row">
                                <label class="col-3 col-form-label text-end" for="description">Description: </label>
                                <div class="col-9">
                                    <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
                                    <div *ngIf="addFood.controls['description'].invalid && addFood.controls['description'].touched">
                                        <div *ngIf="addFood.controls['description'].errors!.required"
                                             class="badge shadow-0 bg-danger">
                                            Holy guacamole! Description is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cell form-group row">
                                <label class="col-3 col-form-label text-end">is Enabled: </label>
                                <div class="col-9">


                                    <div class="form-check">
                                        <label class="form-check-label" for="Y"> Yes </label>
                                        <input class="form-check-input" type="radio" id="Y" value="Y" name="isEnabled" formControlName="isEnabled"
                                               checked>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="N"> No </label>
                                        <input class="form-check-input" type="radio" id="N" value="N" name="isEnabled" formControlName="isEnabled"
                                        >
                                    </div>

                                </div>
                            </div>

                            <div class="cell form-group row">
                                <label class="col-3 col-form-label text-end" for="price">Price: </label>
                                <div class="col-9">
                                    <input type="number" class="form-control" formControlName="price" id="price" value=""/>
                                    <div *ngIf="addFood.controls['price'].invalid && addFood.controls['price'].touched">
                                        <div *ngIf="addFood.controls['price'].errors!.required" class="badge shadow-0 bg-danger">
                                            <!--                                            <div *ngIf="editFood.controls['price'].hasError('max')" class="badge shadow-0 bg-danger">-->
                                            Price is required.
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell form-group row">
                                <label class="col-3 col-form-label text-end" for="imageUrl">Image:</label>
                                <div class="col-9">
                                    <input type="text" class="form-control" formControlName="imageUrl" id="imageUrl" value=""
                                           [(ngModel)]="myImageUrl"/>
                                    <div *ngIf="addFood.controls['imageUrl'].invalid && addFood.controls['imageUrl'].touched">
                                        <div *ngIf="addFood.controls['imageUrl'].errors!.required"
                                             class="badge shadow-0 bg-danger">
                                            Image is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell col-5 d-flex align-items-center gapBottom2em">


                            <div class="cell-blue col-12">
                                <div class="cell row">
                                    <div class="cell col-1"></div>
                                    <div class="cell col-10">
                                        <img class="polaroid deg-1 gapTop1em" src="{{myImageUrl}}" alt="" width="100%">
                                    </div>
                                    <div class="cell col-1"></div>
                                </div>
                                <div class="cell row">
                                    <div class="cell d-flex justify-content-center">
                                        <button type="submit" class="gapTop2em btn btn-primary">
                                            Add New Dish
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
