<div class="cell card">
    <div class="cell card-header">
        Our Products
    </div>
    <div class="cell card-body mt-3 mb-4">
        <h5 *ngIf="!getLoginService().admin" class="cell card-title">This is the list of dishes we offer.</h5>
        <h5 *ngIf="getLoginService().admin" class="cell card-title">Admin access to the list of dishes.</h5>
        <p *ngIf="!getLoginService().admin" class="cell card-text">Select the dishes you would like to order. When you
            are done, click the Cart menu to see
            a list of the items. You can come back to this page to add more items to your cart if
            you want.</p>
        <p *ngIf="getLoginService().admin" class="cell card-text">As an Admin you can edit the dishes we offer to the
            public. Click "edit" to modify the name, cuisine, description, image, or price of a dish. </p>
    </div>

    <div class="cell container">
        <div class="cell row">
            <div class="cell col-12">
                <div class="cell row bg-light border rounded p-1">
                    <div class="cell col-1 text-center"></div>
                    <div class="cell col-2 text-center">Dish Name</div>
                    <div class="cell col-2 text-center">&nbsp;</div>
                    <div class="cell col-1 text-center">Cuisine</div>
                    <div class="cell col-4 text-center">Description</div>
                    <div class="cell col-1 text-center">Price</div>
                    <div class="cell col-1 text-center"></div>
                </div>
                <div class="cell row alert-info border rounded p-1">
                    <div class="cell col-1 "></div>
                    <div class="cell col-2">
                        <input [(ngModel)]="dishFilter" class="cell form-control" placeholder="Filter by Dish" type="text">
                    </div>
                    <div class="cell col-2">&nbsp;</div>
                    <div class="cell col-1">
                        <input [(ngModel)]="cuisineFilter" class="cell form-control" placeholder="Cuisine" type="text">

                    </div>
                    <div class="cell col-4">
                        <input [(ngModel)]="descriptionFilter" class="cell form-control" placeholder="Filter by Description"
                               type="text">
                    </div>
                    <div class="cell col-1" style="display: inline-block">
                        <input [(ngModel)]="priceFilter" class="cell form-control" placeholder="Price"
                               type="number">
                    </div>
                    <div class="cell col-1 text-center">&nbsp;</div>
                </div>
                <div *ngFor="let food of foodsFiltered" class="cell row border rounded p-1">
                    <div class="cell col-1 d-flex align-items-center">
                        <button *ngIf="!getLoginService().admin" (click)="select(food)"
                                class="cell btn btn-outline-primary btn-sm alert-secondary ">
                            select
                        </button>
                        <button *ngIf="getLoginService().admin" (click)="edit(food)"
                                class="cell btn btn-outline-primary btn-sm alert-secondary ">
                            <i aria-hidden="true" class='fa fa-pencil'></i> edit
                        </button>
                    </div>
                    <span hidden>{{food.id}}</span>
                    <div class="cell col-2 d-flex align-items-center">{{food.foodName}}</div>
                    <div class="cell col-2 d-flex align-items-center">
                        <img class="cell  polaroid" [ngClass]="RandomTilt()" src="http://{{food.imageUrl}}" alt="Dish" width="150px"/>
                    </div>
                    <div class="cell col-1 d-flex align-items-center"><div class="cell text-centered">{{food.cuisine}}</div></div>
                    <div class="cell col-4 d-flex align-items-center">{{food.description}}</div>
                    <div class="cell col-1 d-flex align-items-center"><div class="cell text-centered">{{food.price|currency}}</div></div>
                    <div class="cell col-1 d-flex align-items-center">

                        <button *ngIf="getLoginService().admin" (click)="edit(food)"
                                class="cell btn btn-outline-primary btn-sm alert-secondary ">
                            <i aria-hidden="true" class='fa fa-eraser'></i> delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>